.blue-text {
  color: #1ac6b4; }

.orange-text {
  color: #ff6000; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-width: 720px; }

.header {
  color: #fff;
  background-color: #32383d;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .notifications {
    background-color: #16191c; }
    .header .notifications ul {
      padding: 0;
      margin: 0;
      display: flex; }
      .header .notifications ul li {
        list-style: none;
        align-self: center; }
        .header .notifications ul li a {
          color: #fff;
          text-decoration: none;
          display: flex;
          position: relative;
          padding: 10px 25px; }
          .header .notifications ul li a:hover {
            background-color: #434c55; }
        .header .notifications ul li .material-icons {
          font-size: 35px; }
        .header .notifications ul li .counter {
          color: #16191c;
          background-color: #1ac6b4;
          display: inline-block;
          border-radius: 8px;
          padding: 1px 6px;
          position: absolute;
          font-size: 0.8em;
          font-weight: bold;
          top: 7px;
          right: 12px; }
  .header .logo img {
    width: 42px; }
  .header .search {
    margin-left: 15px;
    color: #8c8e8f;
    flex-basis: 300px; }
    .header .search-element {
      position: relative; }
      .header .search-element input {
        width: 100%;
        background-color: #16191c;
        outline: none;
        border: 0;
        border-radius: 20px;
        padding: 8px 35px 8px 15px;
        font-style: italic; }
      .header .search-element .material-icons {
        font-weight: bold;
        position: absolute;
        top: 6px;
        right: -40px; }

.content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  height: 0; }
  .content aside {
    height: calc(100vh - 120px);
    flex: 0 0 260px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; }
    .content aside .user {
      display: flex;
      align-items: center;
      min-height: 90px;
      border-bottom: 1px solid #ddd; }
      .content aside .user-img {
        border-radius: 50%;
        background-color: #1ac6b4;
        width: 50px;
        height: 50px;
        margin: 0 15px; }
      .content aside .user .greeting {
        font-size: 0.8em;
        margin: 0; }
      .content aside .user .username {
        font-weight: bold;
        line-height: 1.8;
        font-size: 1.1em;
        margin: 0; }
    .content aside .menu {
      margin: 0;
      padding: 0;
      list-style: none; }
      .content aside .menu-item {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid #ddd; }
        .content aside .menu-item:hover {
          background-color: #c2c2c2; }
        .content aside .menu-item.selected {
          background-color: #1ac6b4;
          color: #fff; }
          .content aside .menu-item.selected:after {
            content: '';
            display: block;
            width: 0px;
            height: 0px;
            border-right: 10px solid #fff;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; }
        .content aside .menu-item > .material-icons {
          flex-basis: 30%;
          text-align: center;
          font-size: 35px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: space-around; }
        .content aside .menu-item > .item-text {
          flex-grow: 2; }
  .content .content-page {
    flex-grow: 1;
    overflow: auto;
    padding: 20px; }
    .content .content-page .page-header .nav {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      list-style: none; }
      .content .content-page .page-header .nav li {
        margin: 0 15px 20px 0;
        line-height: 24px; }
    .content .content-page .btn {
      padding: 5px 15px;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #f5f5f5;
      border: 0;
      color: inherit;
      font-size: 0.8em; }
      .content .content-page .btn:hover {
        background-color: #c2c2c2; }
      .content .content-page .btn.active {
        background-color: #32383d;
        color: #fff; }
      .content .content-page .btn.blank {
        background-color: #fff; }
    .content .content-page .grid-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 19px;
      border-top: 1px solid #ddd; }
      .content .content-page .grid-container .grid-card {
        margin: 0 20px 20px 0;
        min-width: 160px;
        background-color: #fbfbfb;
        padding: 10px;
        flex-grow: 1; }
        .content .content-page .grid-container .grid-card.wide {
          flex-grow: 2;
          flex-basis: 600px; }
        .content .content-page .grid-container .grid-card.transparent {
          background-color: transparent; }
        .content .content-page .grid-container .grid-card .card-header {
          padding: 5px 10px 9px;
          border-bottom: 1px solid #eee;
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between; }
          .content .content-page .grid-container .grid-card .card-header > div {
            margin-top: -20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline; }
            .content .content-page .grid-container .grid-card .card-header > div.align-left {
              justify-content: flex-start; }
          .content .content-page .grid-container .grid-card .card-header .title {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 20px;
            margin-top: 20px; }
          .content .content-page .grid-container .grid-card .card-header .controls {
            display: inline-block;
            margin-top: 20px;
            white-space: nowrap; }
          .content .content-page .grid-container .grid-card .card-header input {
            width: 100%;
            margin-top: 20px; }
        .content .content-page .grid-container .grid-card .card-body {
          overflow: hidden; }
          .content .content-page .grid-container .grid-card .card-body ul {
            list-style: none;
            margin: 15px 0 0;
            padding: 0; }
            .content .content-page .grid-container .grid-card .card-body ul li {
              margin-bottom: 15px; }
          .content .content-page .grid-container .grid-card .card-body .btn-row {
            margin: 20px 0 10px;
            display: flex;
            justify-content: space-between; }
            .content .content-page .grid-container .grid-card .card-body .btn-row.single {
              justify-content: center; }
      @media (max-width: 1360px) {
        .content .content-page .grid-container .grid-card {
          flex-grow: 2;
          min-width: 40%; } }

.footer {
  height: 60px;
  color: white;
  text-align: right;
  padding: 0 20px;
  background-color: #32383d; }

.legend {
  display: inline-block;
  padding-left: 8px;
  margin-right: 15px;
  color: inherit; }
  .legend:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: #eee; }
  .legend.blue:before {
    background-color: #1ac6b4; }
  .legend.emerald:before {
    background-color: #1ac65b; }
  .legend.green:before {
    background-color: #b4c61a; }
  .legend.orange:before {
    background-color: #ff6000; }

.counter {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin: 0 10px 20px; }
  .counter .value {
    font-size: 50px;
    font-weight: bold; }
  .counter:first-child {
    border-top: 0;
    padding-top: 0; }

.task-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .task-list .task {
    padding: 0 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; }
    .task-list .task .task-icon {
      margin-right: 20px;
      border-radius: 50%;
      min-width: 70px;
      height: 70px;
      background-color: #eee;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center; }
      .task-list .task .task-icon .material-icons {
        font-size: 35px; }
    .task-list .task .task-date {
      min-width: 120px;
      text-align: center; }
      .task-list .task .task-date .datetime {
        background-color: #fff;
        padding: 7px 0; }
      .task-list .task .task-date .days-counter {
        background-color: #ececec;
        padding: 7px 0; }
    .task-list .task .task-content {
      margin-right: 20px; }
      .task-list .task .task-content .task-title {
        font-weight: bold; }
        .task-list .task .task-content .task-title .task-label {
          margin: 0 0 0 15px;
          padding: 4px 8px;
          font-size: 0.8em;
          font-weight: normal;
          text-transform: uppercase;
          color: #fff;
          white-space: nowrap; }
          .task-list .task .task-content .task-title .task-label.red {
            background-color: red; }
      .task-list .task .task-content p {
        font-size: 0.8em; }
    .task-list .task.blue .task-icon {
      background-color: #1ac6b4; }
    .task-list .task.green .task-icon {
      background-color: #b4c61a; }
    .task-list .task.orange .task-icon {
      background-color: #ff6000; }
