// Colors
$orange: #ff6000;
$blue: #1ac6b4;
$green: #b4c61a;
$emerald: #1ac65b;


.blue-text {
    color: $blue;
}
.orange-text {
    color: $orange;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    // height: 100px;
    min-width: 720px;
}

.header {
    color: #fff;
    background-color: #32383d;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .notifications {
        background-color: #16191c;

        ul {
            padding: 0;
            margin: 0;
            display: flex;

            li {
                list-style: none;
                align-self: center;

                a {
                    color: #fff;
                    text-decoration: none;
                    display: flex;
                    position: relative;
                    padding: 10px 25px;

                    &:hover {
                        background-color: lighten(#16191c, 20%);
                    }
                }

                .material-icons {
                    font-size: 35px;
                }

                .counter {
                    color: #16191c;
                    background-color: $blue;
                    display: inline-block;
                    border-radius: 8px;
                    padding: 1px 6px;
                    position: absolute;
                    font-size: 0.8em;
                    font-weight: bold;
                    top: 7px;
                    right: 12px;
                }
            }
        }
    }

    .logo {
        img {
            width: 42px;
        }
    }

    .search {
        margin-left: 15px;
        color: #8c8e8f;
        flex-basis: 300px;

        &-element {
            position: relative;

            input {
                width: 100%;
                background-color: #16191c;
                outline: none;
                border: 0;
                border-radius: 20px;
                padding: 8px 35px 8px 15px;
                font-style: italic;
            }

            .material-icons {
                font-weight: bold;
                position: absolute;
                top: 6px;
                right: -40px;
            }
        }
    }
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: 0;

    aside {
        height: calc(100vh - 120px);
        flex: 0 0 260px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;

        .user {
            display: flex;
            align-items: center;
            min-height: 90px;
            border-bottom: 1px solid #ddd;

            &-img {
                border-radius: 50%;
                background-color: $blue;
                width: 50px;
                height: 50px;
                margin: 0 15px;
            }

            .greeting {
                font-size: 0.8em;
                margin: 0;
            }

            .username {
                font-weight: bold;
                line-height: 1.8;
                font-size: 1.1em;
                margin: 0;
            }
        }

        .menu {
            margin: 0;
            padding: 0;
            list-style: none;

            &-item {
                min-height: 70px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: inherit;
                text-decoration: none;
                border-bottom: 1px solid #ddd;

                &:hover {
                    background-color: darken(#f5f5f5, 20%);
                }

                &.selected {
                    background-color: $blue;
                    color: #fff;

                    &:after {
                        content: '';
                        display: block;
                        width: 0px;
                        height: 0px;
                        border-right: 10px solid #fff;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                    }
                }

                > .material-icons {
                    flex-basis: 30%;
                    text-align: center;
                    font-size: 35px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }

                > .item-text {
                    flex-grow: 2;
                }
            }
        }
    }

    .content-page {
        flex-grow: 1;
        overflow: auto;
        padding: 20px;

        .page-header {

            .nav {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                list-style: none;

                li {
                    margin: 0 15px 20px 0;
                    line-height: 24px;
                }
            }
        }

        .btn {
            padding: 5px 15px;
            text-decoration: none;
            text-transform: uppercase;
            background-color: #f5f5f5;
            border: 0;
            color: inherit;
            font-size: 0.8em;


            &:hover {
                background-color: darken(#f5f5f5, 20%);
            }

            &.active {
                background-color: #32383d;
                color: #fff;
            }

            &.blank {
                background-color: #fff;
            }
        }

        .grid-container {
            display: flex;
            flex-wrap: wrap;
            padding-top: 19px;
            border-top: 1px solid #ddd;

            .grid-card {
                margin: 0 20px 20px 0;
                min-width: 160px;
                background-color: #fbfbfb;
                padding: 10px;
                flex-grow: 1;

                &.wide {
                    flex-grow: 2;
                    flex-basis: 600px;
                }

                &.transparent {
                    background-color: transparent;
                }

                .card-header {
                    $title-margin: 20px;

                    padding: 5px 10px 9px;
                    border-bottom: 1px solid #eee;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;

                    > div {
                        margin-top: -$title-margin;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        &.align-left {
                            justify-content: flex-start;
                        }
                    }

                    .title {
                        display: inline-block;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-right: 20px;
                        margin-top: $title-margin;
                    }

                    .controls {
                      display: inline-block;
                      margin-top: $title-margin;
                      white-space: nowrap;
                    }

                    .pull-right {

                    }

                    input {
                      width: 100%;
                      margin-top: $title-margin;
                    }
                }

                .card-body {
                    overflow: hidden;

                    ul {
                        list-style: none;
                        margin: 15px 0 0;
                        padding: 0;

                        li {
                            margin-bottom: 15px;
                        }
                    }

                    .btn-row {
                        margin: 20px 0 10px;
                        display: flex;
                        justify-content: space-between;

                        &.single {
                            justify-content: center;
                        }
                    }
                }
            }

            @media (max-width: 1360px) {
                .grid-card {
                  flex-grow: 2;
                  min-width: 40%;
                }
            }
        }
    }
}

.footer {
    height: 60px;
    color: white;
    text-align: right;
    padding: 0 20px;
    background-color: #32383d;
}

.legend {
    display: inline-block;
    padding-left: 8px;
    margin-right: 15px;
    color: inherit;

    &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background-color: #eee;
    }

    &.blue:before {
        background-color: $blue;
    }

    &.emerald:before {
        background-color: $emerald;
    }

    &.green:before {
        background-color: $green;
    }

    &.orange:before {
        background-color: $orange;
    }
}

.counter {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 0 10px 20px;

    .value {
        font-size: 50px;
        font-weight: bold;
    }

    &:first-child {
        border-top: 0;
        padding-top: 0;
    }
}

.task-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .task {
        padding: 0 16px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        .task-icon {
            margin-right: 20px;
            border-radius: 50%;
            min-width: 70px;
            height: 70px;
            background-color: #eee;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            .material-icons {
                font-size: 35px;
            }
        }

        .task-date {
            min-width: 120px;
            text-align: center;

            .datetime {
                background-color: #fff;
                padding: 7px 0;
            }

            .days-counter {
                background-color: #ececec;
                padding: 7px 0;
            }
        }

        .task-content {
            margin-right: 20px;

            .task-title {
                font-weight: bold;

                .task-label {
                    margin: 0 0 0 15px;
                    padding: 4px 8px;
                    font-size: 0.8em;
                    font-weight: normal;
                    text-transform: uppercase;
                    color: #fff;
                    white-space: nowrap;

                    &.red {
                        background-color: red;
                    }
                }
            }

            p {
                font-size: 0.8em;
            }
        }

        &.blue .task-icon {
            background-color: $blue;
        }

        &.green .task-icon {
            background-color: $green;
        }

        &.orange .task-icon {
            background-color: $orange;
        }
    }
}
